## Import Libraries

In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns
import plotly.express as px

## Read Dataset

In [2]:
df1 = pd.read_csv("noon_perfumes_dataset.csv")

## EDA

In [3]:
df1.head()

,Unnamed: 0,brand,name,old_price,new_price,ml,concentration,department,scents,base_note,middle_note,item_rating,seller,seller_rating,num_seller_ratings
0,0,PACO RABANNE,1 Million Lucky,395.0,244.55,100,EDT,Men,Woody,"Oakmoss, Patchouli and Vetiver","Hazelnut, Jasmine, Cashmir Wood, Cedar and Honey",5.0,noon,4.2,98.1K
1,1,Roberto Cavalli,Paradiso Assoluto,415.0,107.95,50,EDP,Women,Floral,"Vanilla, Sandalwood And Patchouli",Wild Jasmine and Red Lily,4.8,noon,4.2,98.1K
2,2,S.T.Dupont,Royal Amber,265.0,186.90,100,EDP,Unisex,Arabian,"Lemon, Mint and Wood Moss",Sandalwood and Cedar,5.0,noon,4.2,98.1K
3,3,GUESS,Seductive Blue,290.0,103.20,100,EDT,Men,Spicy,"Cashmere Wood, Moss And Rippled Sand Accord",Blue Coral Aquaspace Accord And Geranium,3.0,noon,4.2,98.1K
4,4,Roberto Cavalli,Uomo,260.0,94.95,50,EDP,Women,Arabian,"Vanille, Benzoin, Tonka Bean",African Orange Flower,4.8,noon,4.2,98.1K

In [4]:
df1.shape

(1003, 15)

In [5]:
df1.describe()

,Unnamed: 0,old_price,new_price,ml,item_rating,seller_rating
count,1003.000000,1003.000000,1003.000000,1003.000000,1003.000000,1003.000000
mean,501.000000,321.176022,149.574307,92.862413,4.530907,14.143170
std,289.685462,234.195846,108.686013,27.496053,0.555504,64.706572
min,0.000000,5.350000,5.350000,1.000000,1.000000,3.500000
25%,250.500000,140.500000,80.325000,80.000000,4.400000,3.800000
50%,501.000000,310.000000,135.000000,100.000000,4.600000,3.900000
75%,751.500000,455.000000,198.525000,100.000000,5.000000,4.200000
max,1002.000000,2350.000000,904.850000,200.000000,5.000000,454.000000

In [6]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1003 entries, 0 to 1002
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          1003 non-null   int64
 1   brand               1003 non-null   object
 2   name                1003 non-null   object
 3   old_price           1003 non-null   float64
 4   new_price           1003 non-null   float64
 5   ml                  1003 non-null   int64
 6   concentration       1003 non-null   object
 7   department          1003 non-null   object
 8   scents              1003 non-null   object
 9   base_note           1003 non-null   object
 10  middle_note         1003 non-null   object
 11  item_rating         1003 non-null   float64
 12  seller              1003 non-null   object
 13  seller_rating       1003 non-null   float64
 14  num_seller_ratings  1003 non-null   object
dtypes: float64(4), int64(2), object(9)
memory usage: 117.7+ KB

In [7]:
# df1['num_seller_ratings']

In [8]:
df1.drop('Unnamed: 0', axis=1, inplace=True)

In [9]:
df1.columns

Index(['brand', 'name', 'old_price', 'new_price', 'ml', 'concentration',
       'department', 'scents', 'base_note', 'middle_note', 'item_rating',
       'seller', 'seller_rating', 'num_seller_ratings'],
      dtype='object')

In [10]:
df1['department'].replace({'Kids Unisex':'Unisex'},inplace=True)
df1['department'].value_counts()

Women     503
Men       433
Unisex     67
Name: department, dtype: int64

In [11]:
df1['brand'].value_counts()

Calvin Klein         44
BURBERRY             39
HUGO BOSS            36
Roberto Cavalli      34
DORALL COLLECTION    32
                     ..
Laura Biagiotti       1
HOUBIGANT             1
NICOLAI               1
marbert man           1
Mariah Carey          1
Name: brand, Length: 160, dtype: int64

In [12]:
nn='name'
print(df1[nn].value_counts())

df1[nn]=df1[nn].apply(lambda x:x.lower())
df1[nn].value_counts()

Roses Vanille       8
Pour Homme          8
Uomo                8
Eros                8
Homme               8
                   ..
Guilty Intense      1
Mon Florale         1
Live Luxe           1
Secret De Rochas    1
Layali CPO At       1
Name: name, Length: 594, dtype: int64

roses vanille             8
uomo                      8
pour homme                8
homme                     8
eros                      8
                         ..
milano infusion d'iris    1
guilty intense            1
mon florale               1
live luxe                 1
layali cpo at             1
Name: name, Length: 589, dtype: int64

In [13]:
# nn='seller'
# print(df1[nn].value_counts())

# df1[nn]=df1[nn].apply(lambda x:x.lower())
# df1[nn].value_counts()

In [14]:
df1['seller'].replace({'Swiss Arabian PerfumesPRICE UPDATE WITH 15% VAT 1 JULY 2020':'Swiss Arabian'},inplace=True)

In [15]:
df1['seller'].value_counts()

noon             277
AMLAQ             92
hadayiq baris     52
Star.perfume      45
B.A.G             29
                ...
Luxury             1
Nuna               1
original           1
Dary.Dar           1
Swiss Arabian      1
Name: seller, Length: 117, dtype: int64

### Add new columns

In [16]:
df1['discount%']=np.round((df1['new_price']/df1['old_price']*100),decimals=1)
df1['discount_price']=np.round((df1['old_price']-df1['new_price']),decimals=1)
df1['price/ml']=np.round((df1['new_price']/df1['ml']),decimals=1)
df1.head()

,brand,name,old_price,new_price,ml,concentration,department,scents,base_note,middle_note,item_rating,seller,seller_rating,num_seller_ratings,discount%,discount_price,price/ml
0,PACO RABANNE,1 million lucky,395.0,244.55,100,EDT,Men,Woody,"Oakmoss, Patchouli and Vetiver","Hazelnut, Jasmine, Cashmir Wood, Cedar and Honey",5.0,noon,4.2,98.1K,61.9,150.4,2.4
1,Roberto Cavalli,paradiso assoluto,415.0,107.95,50,EDP,Women,Floral,"Vanilla, Sandalwood And Patchouli",Wild Jasmine and Red Lily,4.8,noon,4.2,98.1K,26.0,307.0,2.2
2,S.T.Dupont,royal amber,265.0,186.90,100,EDP,Unisex,Arabian,"Lemon, Mint and Wood Moss",Sandalwood and Cedar,5.0,noon,4.2,98.1K,70.5,78.1,1.9
3,GUESS,seductive blue,290.0,103.20,100,EDT,Men,Spicy,"Cashmere Wood, Moss And Rippled Sand Accord",Blue Coral Aquaspace Accord And Geranium,3.0,noon,4.2,98.1K,35.6,186.8,1.0
4,Roberto Cavalli,uomo,260.0,94.95,50,EDP,Women,Arabian,"Vanille, Benzoin, Tonka Bean",African Orange Flower,4.8,noon,4.2,98.1K,36.5,165.0,1.9

In [17]:
df1.columns

Index(['brand', 'name', 'old_price', 'new_price', 'ml', 'concentration',
       'department', 'scents', 'base_note', 'middle_note', 'item_rating',
       'seller', 'seller_rating', 'num_seller_ratings', 'discount%',
       'discount_price', 'price/ml'],
      dtype='object')

In [18]:
df1.isnull().sum()

brand                 0
name                  0
old_price             0
new_price             0
ml                    0
concentration         0
department            0
scents                0
base_note             0
middle_note           0
item_rating           0
seller                0
seller_rating         0
num_seller_ratings    0
discount%             0
discount_price        0
price/ml              0
dtype: int64

In [19]:
df1['name'].value_counts().to_frame().index.to_list()

['roses vanille',
 'uomo',
 'pour homme',
 'homme',
 'eros',
 'encre noire',
 'marciano',
 'essence pure',
 'paradiso assoluto',
 'london',
 'passenger',
 'sauvage',
 'beauty',
 'dylan blue',
 'sacrifice',
 'pour femme',
 'crystal noir',
 'the one',
 'ck one',
 'cool water',
 'one shock',
 'legend',
 'scandal',
 'private collection',
 '212 vip',
 'florence',
 'stronger with you',
 'good girl',
 'burberry body',
 '212 sexy',
 'dare',
 'emblem',
 'guilty absolute',
 'narciso rodriguez',
 'the scent',
 'my burberry',
 'petits et mamans',
 'love story',
 'bleu de chanel',
 "l'homme",
 'euphoria',
 'just cavalli',
 'desire',
 'floral',
 'shuhrah',
 "3 l'imperatrice",
 'scuderia red',
 'boss the scent',
 'happy spirit',
 'creation',
 'explorer',
 'cabotine',
 'plaisir',
 'hot',
 'black opium',
 'dupont',
 'xeryus rouge',
 'essential',
 'declaration',
 'classic black',
 'rouat al oud',
 'the game',
 'la vie est belle',
 'ma vie',
 'mr. burberry',
 'bloom nettare di fiori',
 'furiosa',
 "l'interdit",
 'first',
 'fantasy',
 'l.12.12 blanc',
 'quatre',
 'chrome',
 'paradiso azzurro',
 'for women edp natural sp',
 'musk cologne sp',
 'l.12.12 blanc-pure',
 'black',
 'still',
 'femme',
 'sheikh al shuyukh',
 'guilty',
 'lacoste',
 'plus plus masculine',
 'k',
 'hugo',
 'bright crystal',
 'eternity',
 'nero assoluto',
 'escape',
 'bloom',
 'invictus',
 'man in black',
 'chloe',
 'esencia',
 'lady emblem',
 'jimmy',
 'in white',
 'pandora',
 'amber intense',
 'seductive',
 'hawaii london',
 'lotus flower aromatic par',
 'open',
 'beautiful',
 'sculpture homme',
 'intenso',
 'my burberry bl',
 'man pure',
 'my burberry blush',
 '1 million lucky',
 'custom',
 'new york',
 'the only one 2',
 'eternally hot',
 '1029 collection',
 'jaguar',
 'velvet oud',
 'habit rouge',
 'ultraviolet',
 'white linen',
 'declaration essence',
 'for ever',
 'esencia pour homme',
 'bottled night',
 'legend spirit',
 'allure homme sport edt for',
 'aqva marine pour homme',
 'si',
 'flora',
 'oud sharqia',
 'place vendome',
 'red tobacco',
 'brown',
 'lancy',
 'miracle',
 'rose greedy',
 'extreme',
 'classic blue',
 'pink hearts',
 'narciso rodriguez for her',
 'pasha edition noir',
 'the dreamer',
 'mademoiselle ricci',
 'coco mademoiselle',
 'magnetism',
 'silver scent',
 'man in red',
 'oud al-mubakhar',
 'body',
 'wisal',
 'the beat',
 'gold',
 'reveal',
 '1 million',
 'boss',
 'nuit',
 'chrome legend',
 'oud mood',
 'ideal',
 'acqua di gio',
 'white diamonds',
 'adventure',
 'eau de lacoste l. 12.12 noir',
 'premier jour',
 'desire blue',
 'body kouros',
 'bloom aqua di fiori',
 'tomorrow',
 'paradiso azzuro',
 'oud wood',
 'premium',
 'al wisam day',
 'daisy eau so fresh',
 'nude natural spray colo',
 'hot water',
 '5th avenue',
 'ana abiyedh leather',
 'si passione edp for wo',
 'monsieur oud',
 'lady million',
 'burberry body intense',
 'idylle',
 'ck be',
 'oud maaruf',
 'raindrops',
 'cold',
 'en joy',
 'tommy',
 "l'instant magic",
 'brit rhythm intense',
 'white musk',
 'addict',
 'romance',
 'modern muse',
 'bottled unlimited',
 'emotion',
 'sheikh shuyukh',
 'ameer al oud khususi',
 'blue',
 'eau pour homme reno 2013',
 'bamboo',
 'touch of pink',
 'tommy girl',
 'eau de lacoste',
 'oud touch',
 'cavalli',
 'visit',
 'grey flannel',
 'dc',
 'rouat al musk',
 'sheer beauty',
 'obsession',
 'girl of now',
 'one million',
 'intense euphoria',
 'euphoria intense',
 'women',
 'london burberry',
 'la panthere',
 'zino',
 'anfas aloud',
 "terre d' hermes",
 'live',
 'my name',
 'in red',
 'versace pour homme',
 'wish',
 'viva la juicy',
 'schlesser essential',
 'la nuit de l`homme',
 'intense',
 'organza',
 "because it's you by emporio",
 'by marciano',
 'si passione',
 'blu',
 'bottled tonic',
 'desire extreme',
 'mont blanc legend',
 'be delicious red',
 'classic',
 'rive gauche homme',
 'modern princess',
 'club de nuit intense',
 'anais anais loriginal',
 'musky garden',
 "quelques fleurs l'original",
 'the one royal night',
 '2.2 s..y  no.1139 eau de par',
 'club de nuit intense man',
 'blue lady',
 'code',
 'roma uomo',
 'portraits george',
 'victory league',
 'delina exclusive',
 'especially elixir',
 'wanted',
 'patchouli intense',
 'secret obsession',
 "l'homme sport",
 'ambre imperial',
 'green tea',
 "l'acquarossa",
 'light blue',
 'pleasures intense',
 'goldea the roman night absolute',
 'marbert man',
 'always',
 'the brilliant game',
 '900 herbal spray',
 'yes i am ed',
 'just different',
 'only the brave tattoo',
 'islanders',
 'cedar essence',
 'invictus intense',
 'bakhoor al arais',
 'dc charged',
 'pure oudi liquid gold',
 'wood mystique',
 'club de nuit milestone',
 'orange edt sp',
 'kalam al oud',
 'golden blaze',
 'black xs potion',
 'monsieur coco vanilla',
 'white musk perfume',
 'wild leather',
 "l'homme ideal",
 'quatre absolue de nuit',
 'yellow diamond',
 'amethyst exquise',
 'pleasures',
 'beach palm',
 'oud al misk',
 'oud khurafi',
 'vision iii',
 'alf laila o laila',
 'manifesto',
 'armani code',
 'sauvage perf',
 'kouros silver',
 'body mini ed',
 'my blush',
 'olympéa intense',
 "l'interdit edp for wo",
 'emblem intense',
 'prive maison sandalwood',
 'hawaiian musk',
 'rush 2',
 'dirham',
 'roses greedy',
 'stella',
 'sweetheart rockstar',
 'epic',
 'edttouch of pink for wom',
 'tim tom leather black',
 'today tomorrow always',
 'blue princess',
 'vivaldi',
 "eclat d'arpege",
 'body tender',
 'above the law',
 'red door',
 'pure musc',
 'lady presidente',
 'one man show',
 'cheap and chic',
 'red',
 'lady dorall',
 'boss orange',
 'modern muse chic',
 '212 wild party',
 'chance eau tendre',
 'boss bottled man of today',
 'black orchid',
 'baiser vole',
 'eghra perfume',
 '212 s**y',
 'zen',
 'tool box',
 'love touch body sp',
 'oxygene',
 'brit rhythm',
 'emblem ed',
 'plus plus feminine',
 'amber',
 '212 vip rose',
 'pour un homme de caron',
 '1000 miglia',
 'rush',
 'musk mood',
 "l'eau d'issey pour homme",
 'guilty black',
 'bottled intense',
 'paris vivaldi',
 'si possione',
 '8839 collection',
 'challenge',
 'sheer beauty essence',
 'flora gorgeous gardenia',
 'flora gardenia',
 'remy',
 'natural spray',
 'lady emblem elixir',
 'code absolu ed',
 'green secret',
 'santos d concentree',
 'divina',
 'eau fraiche',
 '24 carat pure gold',
 'touch',
 'royale',
 'paradisio azzuro',
 'guess',
 'khalis pure oudi',
 'forever',
 'vision ii',
 "l' imperatrice 3",
 'world intense',
 'roses musk',
 'pino silvester original',
 'million',
 'happy spirit forever',
 'frank olivier',
 'classic gold',
 'samsara',
 'goldea the roman night',
 'seductive homme',
 'noa',
 'lalique',
 "because it's you",
 'one million lucky',
 'scuderia black',
 'paco rabanne',
 'black opium nuit blanche',
 'olympea',
 'pasha de cartier',
 'olympêa',
 'brit splash',
 'oud arabi',
 'cedrat boise',
 'coach',
 'ch men sports',
 'united colors of benetton hot',
 'dahlia divin nude',
 'classic red',
 'blanc pour homme',
 'rose malaki',
 'cold silver',
 'man',
 'idol',
 'guess pink',
 'euphoria amber gold',
 'desire silver',
 'honour',
 'rumba',
 'oud',
 'rumeur',
 'love touch',
 'serpentine',
 'debut',
 'classic amber',
 'gentlemen only',
 'weekend',
 'coco vanille',
 'evoke',
 'passenger spray',
 'starwalker',
 'my land',
 "terre d'hermes",
 'splandid',
 'vivi la juicy limited edition',
 "la nuit de l'homme l'intense",
 'azure',
 'starlight',
 'black vanilla',
 'the only one',
 'grey flannel for men',
 'knowing',
 's.t. dupont',
 'charlie gold',
 'monsieur intense gold',
 '24 pure',
 'narciso rouge',
 'black oud',
 'royale blue',
 'in 2 u men',
 '1881',
 'm7 oud absolu',
 'gold secret',
 'seductive blue',
 'royal amber',
 'hot gold',
 'scholar',
 'viva la juicy noir',
 'mr.burberry',
 'moon light',
 'xx',
 'nashwa',
 'signorina eleganza',
 'genesis oud malaki',
 'atelier intense',
 'tommy hilfiger',
 'ckin2u',
 'emblem absolu',
 'girl of now shine',
 'be delicious',
 'giorgio',
 'oud 24 hours',
 'valentina',
 'stronger with you intensely',
 'molto carina',
 'dark blue',
 'rumba passion ted lapidus',
 'safari',
 'supreme bouquet',
 'icq',
 'libre',
 'nomade',
 'edition',
 'paradiso',
 'new york platinum',
 'eau de moiselle',
 'oud vanille',
 'l.12.12 rouge',
 'aventus',
 'courageous',
 'oud mood gold elixir',
 "l'imperatrice 3",
 'shiyoukh al oud',
 'leather blend',
 "declaration d'un soir",
 'simple',
 'blue jeans',
 'bad boy',
 'lapidus pour homme',
 'eaudemoiselle no.1154',
 'polo blue',
 'lolita',
 'super cobra',
 'absolute',
 'hugo man',
 'charli blue',
 'dc marine noir',
 'orchidea della cina',
 'play around',
 'club black',
 'blue label',
 'vetiver',
 'beibei bear blue par',
 'love you like crazy',
 'heiress',
 'de caron',
 'florence amber',
 'cavali',
 'rumeur 2 rose',
 'shalis',
 'new york coach dreams',
 "magie noire l'eau",
 'cabotine de gres',
 'rose essentielle',
 "l'instant",
 'casmir',
 'versace',
 "memoire  d'une odeur edp for uni",
 "le'parfum",
 'joy of pink',
 'hatem',
 'modern muse nuit',
 'santal royal',
 'black car',
 'darknet pour homme',
 'mon bloom of rose',
 'momentum intense',
 'gabrielle',
 'brit sheer',
 'oud noir',
 'dionysus',
 'deep red',
 'man ice',
 'eau de cedre',
 'allure sensuelle',
 'rain drops',
 'mini collection no.1075',
 'hugo boss',
 'nice girl',
 'interlude',
 'jil sander',
 'silences',
 'cinema',
 'narciso',
 'windsor',
 'fairy dust',
 'go',
 'eventful',
 'relation',
 'cerruti',
 'black xs',
 'joy',
 'prive',
 'vetiver hombre',
 'rare pearls',
 'omnia crystalline',
 'play intense',
 'miu miu',
 'guilty pour homme',
 'pegasus',
 "jeu d'amour l'elixir",
 '212 men nyc',
 'si fiori',
 'royal',
 'lanvin',
 'idôle ed',
 'debut night',
 'secret de rochas',
 'premiere',
 'ck in2u',
 'charlie blue',
 'goldea',
 'teenz',
 'kors',
 "milano infusion d'iris",
 'guilty intense',
 'mon florale',
 'live luxe',
 'layali cpo at']

In [20]:
df1['item_rating'].value_counts()

5.0    275
4.5    137
4.6     93
4.7     85
4.8     83
4.4     72
4.0     61
4.3     54
4.9     28
4.2     28
3.0     18
4.1     15
3.7      7
3.3      7
3.8      7
3.5      6
1.0      6
2.0      6
3.4      6
3.9      4
2.3      3
3.6      1
2.9      1
Name: item_rating, dtype: int64

In [21]:
df1['seller_rating'].value_counts()

4.2      346
3.9      217
3.7      119
3.8      106
3.5       72
3.6       46
4.1       34
4.3       22
412.0     15
4.4       12
454.0      6
445.0      3
43.0       2
4.8        2
4.0        1
Name: seller_rating, dtype: int64

In [22]:
df1['seller_rating']=df1['seller_rating'].replace({412.0:4.1, 454.0:4.5, 445.0:4.4, 43:4.3})
df1['seller_rating'].value_counts()

4.2    346
3.9    217
3.7    119
3.8    106
3.5     72
4.1     49
3.6     46
4.3     24
4.4     15
4.5      6
4.8      2
4.0      1
Name: seller_rating, dtype: int64

In [23]:
df1['num_seller_ratings'].value_counts()

98.1K    287
135      103
537       61
347       57
122       52
14.1K     29
98        26
7         26
88        23
61        22
76        21
66        20
59        18
5         16
75        15
425       14
467       14
23        13
450       13
538       12
244       12
33        11
69        11
63        10
111        9
9          9
4K         8
319        7
20         6
32         5
118        5
30         5
25         5
8          4
113        4
1.9K       4
27         4
124        4
1.3K       3
199        3
44         3
71         3
98.4K      2
78         2
56         2
77         2
528        2
116        2
531        2
54         2
337        1
178        1
235        1
266        1
288        1
81         1
21         1
22         1
41         1
539        1
Name: num_seller_ratings, dtype: int64

In [24]:
def edit(tx):
    if tx.rfind('K') != -1:
        tx=tx.replace('K','')
        if tx.rfind('.') != -1:
            n1,n2=tx.split('.')
            tx=f'{n1}000'
        else:
            tx=tx+'000'
            
    return float(tx)  
    
        
df1['num_seller_ratings']= df1['num_seller_ratings'].apply(edit).astype(int)

In [25]:
df1['num_seller_ratings'].value_counts()

98000    289
135      103
537       61
347       57
122       52
14000     29
98        26
7         26
88        23
61        22
76        21
66        20
59        18
5         16
75        15
425       14
467       14
23        13
450       13
244       12
538       12
33        11
69        11
63        10
111        9
9          9
4000       8
319        7
1000       7
20         6
118        5
32         5
25         5
30         5
27         4
124        4
8          4
113        4
199        3
71         3
44         3
56         2
116        2
78         2
77         2
54         2
531        2
528        2
41         1
22         1
21         1
235        1
337        1
178        1
266        1
288        1
81         1
539        1
Name: num_seller_ratings, dtype: int64

In [26]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1003 entries, 0 to 1002
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   brand               1003 non-null   object
 1   name                1003 non-null   object
 2   old_price           1003 non-null   float64
 3   new_price           1003 non-null   float64
 4   ml                  1003 non-null   int64
 5   concentration       1003 non-null   object
 6   department          1003 non-null   object
 7   scents              1003 non-null   object
 8   base_note           1003 non-null   object
 9   middle_note         1003 non-null   object
 10  item_rating         1003 non-null   float64
 11  seller              1003 non-null   object
 12  seller_rating       1003 non-null   float64
 13  num_seller_ratings  1003 non-null   int32
 14  discount%           1003 non-null   float64
 15  discount_price      1003 non-null   float64
 16  price/ml            1003 non-null   float64
dtypes: float64(7), int32(1), int64(1), object(8)
memory usage: 129.4+ KB